*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h1{
    max-width: 100%;
    text-align: center;
}

.container{
    width: 90%;
    margin: 0 12rem;
}

.tabla{
    margin-left: 0;
    margin-right: 50px;
}

.encabezados {
    height: 25px;
    padding: 2px;
    background-color: #84f988;
    font-size: 17px;
    border-radius: 5px;
    border-color: black;
    text-align: center;
}

.fila{
    margin-top: 5px;
}

.registro {
    background-color: rgb(225, 230, 235);
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
