*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    max-width: fit-content;
}

body h1{
    width: 100%;
    text-align: center;
    margin: 30px;
}

.container{
    width: fit-content;
    margin: 0 2%;
}

.tabla{
    margin-left: 0;
    margin-right: 30px;
}

.encabezados {
    height: 25px;
    padding: 2px;
    background-color: #84f988;
    font-size: 17px;
    border-radius: 5px;
    border-color: black;
    text-align: center;
}

.fila{
    margin-top: 5px;
}

.registro {
    background-color: rgb(225, 230, 235);
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
